<% layout("./layouts/boilplate" ) %>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <h1 class="text-center">New Campground:</h1>
            <form class="needs-validation" action="/campgrounds" method="POST" enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label for="name" class="form-label">Add a name:</label>
                    <input type="text" class="form-control" id="name" placeholder="name" name="campground[name]"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid name here!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Add a location:</label>
                    <input type="text" class="form-control" id="location" placeholder="location"
                        name="campground[location]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid location here!
                    </div>
                </div>
                <div class="mb-3">
                    <input type="file" id="image" name="image" class="form-control" multiple>

                </div>

                <div class="mb-3 row ">
                    <label for="price" class="col-sm-2 col-form-label">Price</label>
                    <div class="col-sm-10">
                        <divs class="input-group">
                            <span class="input-group-text">$</span>
                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                                name="campground[price]" required>
                            <span class="input-group-text">.00</span>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a valid price here!
                            </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Add descriptions:</label>
                    <textarea type="text" class="form-control" id="descriptions" placeholder=""
                        name="campground[description]" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide valid descriptions here!
                    </div>
                </div>
                <div class="row mx-3">
                    <button class="btn btn-primary col-auto me-auto">Submit</button>
                    <a class="btn btn-warning col-auto" href="/campgrounds">Cancel</a>
                </div>

            </form>

        </div>

    </div>